@using TopLearn.Core.Services.Interfaces
@model TopLearn.DataLayer.Entities.Order.Order
@inject IUserService _userService;
@inject IOrderService _orderService
@{
    ViewData["Title"] = "ShowOrder";
    int sumOrder = Model.OrderSum;
    string discountType = ViewBag.typeDiscount.ToString();
}
 @*Core CSS - Include with every page*@ 
<link href="/AdminContent/css/bootstrap-rtl.css" rel="stylesheet">
<link href="/AdminContent/font-awesome/css/font-awesome.css" rel="stylesheet">

 @*Page-Level Plugin CSS - Dashboard*@ 
<link href="/AdminContent/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
<link href="/AdminContent/css/plugins/timeline/timeline.css" rel="stylesheet">

 @*SB Admin CSS - Include with every page*@ 
<link href="/AdminContent/css/sb-admin.css" rel="stylesheet">

 @*font Panel*@ 
<link href="~/AdminContent/css/style.css" rel="stylesheet" />

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"> تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page"> نمایش فاکتور</li>
        </ul>
    </nav>
</div>


<main id="formFilter">
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_SideBar" />
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1> فاکتور شما</h1></header>
                        @if (ViewBag.finaly == true)
                        {
                            <div class="alert alert-success">
                                فاکتور با موفقیت پرداخت گردید.
                            </div>
                        }
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>حذف</th>
                                    <th>دوره</th>
                                    <th>تعداد</th>
                                    <th>قیمت</th>
                                    <th>جمع</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderDetails)
                                {
                                    <tr>
                                        <td>
                                            <a href="/UserPanel/MyOrders/DeleteOrder?detailId=@item.DetailId&orderId=@item.OrderId&CourseId=@item.CourseId">
                                                <span class="text-danger">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/ShowCourse/@item.CourseId" target="_blank"> @item.Course.CourseTitle </a>
                                        </td>

                                        <td>
                                            <input onchange="changeCount(@item.DetailId, @item.OrderId, @item.Count)" type="number" id="count@(item.DetailId)" value="@item.Count" />
                                        </td>

                                        <td>
                                            @item.Price.ToString("#,0")
                                        </td>

                                        <td>
                                            @((item.Count * item.Price).ToString("#,0"))
                                        </td>
                                    </tr>
                                }
                                @if (!Model.IsFinaly)
                                {
                                    <tr>
                                        <td colspan="3" class="text-left">کد تخفیف</td>
                                        <td>
                                            <form action="/UserPanel/MyOrders/UseDiscount" method="post">
                                                <input type="hidden" name="orderId" value="@Model.OrderId" />
                                                <input type="text" name="code" class="form-control" />
                                                <input type="submit" class="btn btn-primary btn-block" style="margin-top: 5px" value="اعمال" />
                                            </form>
                                            @if (discountType != "")
                                            {
                                                switch (discountType)
                                                {
                                                    case "Success":
                                                        {
                                                            <div class="alert alert-success">
                                                                <p class="text-muted">کد با موفقیت اعمال شد</p>
                                                            </div>
                                                            break;
                                                        }
                                                    case "ExpierDate":
                                                        {
                                                            <div class="alert alert-danger">
                                                                <p class="text-muted">تاریخ کد به اتمام رسیده است</p>
                                                            </div>
                                                            break;
                                                        }
                                                    case "NotFound":
                                                        {
                                                            <div class="alert alert-warning">
                                                                <p class="text-muted">کد معتبر نیست</p>
                                                            </div>
                                                            break;
                                                        }
                                                    case "Finished":
                                                        {
                                                            <div class="alert alert-warning">
                                                                <p class="text-muted">کد به اتمام رسیده است</p>
                                                            </div>
                                                            break;
                                                        }
                                                    case "UserUsed":
                                                        {
                                                            <div class="alert alert-info">
                                                                <p class="text-muted">این کد قبلا توسط شما استفاده شده است</p>
                                                            </div>
                                                            break;
                                                        }
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="3" class="text-left">جمع کل</td>
                                    <td>
                                        @sumOrder.ToString("#,0")
                                    </td>
                                </tr>
                                @if (!Model.IsFinaly)
                                {
                                    <tr>
                                        <td colspan="2" class="text-left"></td>
                                        <td colspan="2">
                                            @if (_userService.BalanceUserWallet(User.Identity.Name) >= sumOrder)
                                            {
                                                <a class="btn btn-success btn-block" href="/UserPanel/MyOrders/FinalyOrder/@Model.OrderId">تایید فاکتور</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-success btn-block" disabled>تایید فاکتور</a>
                                                <div class="alert alert-danger">
                                                    موجودی کیف پول شما کافی نمی باشد ، لطفا از طریق این
                                                    <a href="/UserPanel/Wallet" class="alert-link">لینک</a>
                                                    اقدام به شارژ حساب کنید
                                                </div>
                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>


@section Scripts{
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function changeCount(det2, or2, count) {
            var count = $("#count" + det2).val();
            window.location = "/Course/EditCount?detailId=" + det2 + "&orderId=" + or2 + "&count=" + count;

            ("#formFilter").submit();
        }
    </script>
}